body{
    
    position: relative;
}

.contain{
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: center;
    

}
.img{
display: grid;
place-content: center;

}
button{
    width: 150px;
    background-color: #09248C;
    color: white;
    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    
}
input{
    background-color: white;
    border-color: black;
    color: black;
    width: 400px;
    text-align: center;
    font-size: 20px;
}

button[id="izq"]{
    text-align: left;

}
button[id="der"]{
    text-align: right;    
}